body {
  background-color:antiquewhite;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    font-size: 2rem;
  }

  #names {
    background-color: aquamarine;
    margin-bottom: 30px;
    color:rgb(24, 142, 142);
  }

  #web-site-name {
    background-color: bisque;
    padding: 10px;
    padding-inline: 30px;
  }

  #exercise-name {
    background-color: bisque;
    padding: 15px 50px;
  }

  #buttons {
    background-color: aquamarine;
    padding-bottom: 20%;
  }

  .button-container {
    display: flex; 
    justify-content:center;
    padding: 5rem;
  }
  
  .button-container button {
    font-size: 3rem;
    margin: 3rem;
    margin-inline: 2rem;
    padding: 15px 50px;
    border: none;
    border-radius: 30px;
    background-color: bisque;
    color:rgb(10, 146, 87);
    cursor: pointer;
  }

  .button-container button:hover {
    opacity: 0.8;
  }



  #exercise-image {
    width: 775px;
    height: 600px;
    object-fit: cover;
    border: 10px solid;
    border-color:aquamarine;
    border-radius: 30px;
  }
  
  #timer {
    font-size: 3rem;
    color:rgb(10, 146, 87);
    border: none;
  }





  
